<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>walk</key>
	<dict>
		<key>id</key>
		<string></string>
		<key>pick_up_location</key>
		<string></string>
		<key>drop_off_location</key>
		<string></string>
		<key>status</key>
		<string></string>
		<key>active</key>
		<string></string>
	</dict>
	<key>user</key>
	<dict>
		<key>device_token</key>
		<string></string>
		<key>id</key>
		<string></string>
		<key>phone_number</key>
		<string></string>
	</dict>
</dict>
</plist>
